@import "./images.scss";

.item {
  display: flex;

  --cell-margin: 5px;
  --size: calc(var(--cell-size) - var(--cell-margin) * 2);

  width: var(--size);
  height: var(--size);

  margin: var(--cell-margin);

  transition: transform 1s ease;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all 500ms ease;
    border-radius: 0.05rem;
    box-shadow: 0 0 10px -2px black;
    border: 0.1rem solid transparent;
    box-sizing: border-box;
    backface-visibility: hidden;
  }
  &:before {
    transform: rotateY(-180deg);
    background-color: black;
  }
  &:after {
    background-color: #bbbbbb;
    background-image: url($cardBackImageUrl);
  }
  &.is-open {
    &:before {
      transform: rotateY(0deg);
      background-color: #fff;
    }
    &:after {
      transform: rotateY(180deg);
      background-color: black;
    }
  }

  &.hidden {
    animation: hide 300ms ease both;
  }
}

@keyframes hide {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}
